body {
  font-family: Helvetica;
  font-style: normal;
}

h1 {
  font-weight: bold;
}

.container-fluid {
  background-color: #f1f3ff;
}

.main-nav {
  background-color: #f1f3ff;
}

.main-nav a.navbar-brand {
  padding-left: 15px;
}

.main-nav .navbar-nav a.nav-link {
  color: black;
  margin-right: 20px;
}

.main-nav .navbar-nav .nav-button {
  background-color: #5cb85f;
  color: #ffffff;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.main-content-1 {
  background-color: #f1f3ff;
  /* height: 500px; */
  margin-right: -10px;
}

.main-contents {
  padding-top: 177px;
  padding-left: 120px;
}

.main-content-1 h1 {
  float: left;
}

.main-content-1 p {
  padding-top: 16px;
}

.main-content-1 img {
  padding-top: 94px;
}

.main-content-1 button {
  background-color: #5cb85f;
  color: #ffffff;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.main-content-2 {
  padding-left: 305px;
  padding-top: 104px;
}
.main-content-2 .main-contents-2 h1 {
  font-size: 24px;
  line-height: 36px;
}
.main-content-2 .main-contents-2 p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.main-content-2 .main-contents-2 ul li {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
}

.slip-text {
  padding-left: 16px;
}

.slip-text h1 {
  font-size: 24px;
  line-height: 36px;
}

.text h1 {
  font-size: 24px;
}

/* .container .card-content {
  width: 18rem;
} */

.testimonial-content .item {
  /* height: 270px; */
  background-color: #f1f3ff;
  margin-right: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 80px !important;
}

.item-img {
  padding-left: 20px;
  padding-top: 20px;
}

.main-banner button {
  background-color: #5cb85f;
  color: #ffffff;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.main-banner .box {
  background-color: #0d28a6;
  /* height: 326px; */
}

.main-banner h1 {
  font-size: 36px;
}

.main-accordion {
  padding-top: 100px;
}

.main-accordion h1 {
  font-size: 36px;
}

.footer {
  padding-top: 100px;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  padding-right: 16px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f1f3ff;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
