/* For Smartphone */
@media (max-width: 360px) {
  .main-contents {
    padding-top: 0px;
    padding-left: 16px;
    width: 100%;
  }

  .main-contents h1 {
    line-height: 40px;
  }

  .fix-img {
    width: 100%;
  }

  .main-content-2 {
    padding-left: 0px;
    padding-top: 104px;
  }

  .main-content-2 .main-contents-2 h1 {
    margin-left: 10px;
  }

  .main-content-2 .main-contents-2 p {
    margin-left: 10px;
  }

  .main-content-2 .main-contents-2 ul li {
    margin-left: 5px;
  }

  .slip-text #WhyUs {
    text-align: center;
  }

  .row > * {
    width: 100%;
    /* margin-left: 20px;
    margin-bottom: 20px; */
  }

  .card {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .main-accordion #FAQ h1 {
    font-size: 24px;
    text-align: center;
  }

  .main-accordion #FAQ p {
    font-size: 14px;
    text-align: center;
  }

  .testimonial-content .item {
    margin-left: 30px;
    margin-top: -60px;
  }

  .item-img {
    margin-left: 45px;
    margin-bottom: 20px;
  }

  .item-rate {
    margin-left: 100px;
    margin-bottom: 20px;
  }

  .item p {
    margin-left: 20px;
  }

  .main-nav .sidebar .nav-button {
    background-color: #5cb85f;
    color: #ffffff;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 40px;
  }
}

@media (min-width: 361px) {
  .openbtn {
    display: none;
  }
} ;
